# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
/.next/
/out/
/build/

# Static assets
/public/static

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*

# IDE and editor directories
/.vscode/
/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
.DS_Store
*.pem

# Next.js specific
next-env.d.ts
*.tsbuildinfo